<extend name="Index/index"/>
<block name="adminjs"> 
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<script>
	$(function(){
		$("input").click(function(){
			var level = $(this).attr('level');
			if(level == 1){
				var str = '_';
				var inputs = $('input[value*='+str+']');
				//坑啊 复选框要用prop		
				$(this).prop('checked')?inputs.prop('checked',true):inputs.removeAttr('checked');
			}else if(level ==2 ){
				var id = $(this).attr('id');
				//pid = id  找到儿子
				var inputs = $('input[pid='+id+']');
				$(this).prop('checked')?inputs.prop('checked',true):inputs.removeAttr('checked');
				//找爸爸
				var pid = $(this).attr('pid');
				$('input[id='+pid+']').prop('checked',true);
			}else if(level ==3 ){
				if($(this).attr('id')){
					//找到爸爸
					var pid = $(this).attr('pid');
					$('input[id='+pid+']').prop('checked',true);
					//找爷爷
					var ppid = $('input[id='+pid+']').attr('pid');
					$('input[id='+ppid+']').prop('checked',true);
				}
			}
			
		});
	});
</script>
</block>
<block name="main">
	<div class="row-fluid">
		<div class="col-md-12">
			<p>
				你正在为 <b><{$users.name}></b> 分配权限
			</p>
			<form action="<{:U('Role/setAccess')}>" method='post'>
				<volist name="nodelist" id="vo">
					<p style="text-indent:<{$vo['level']*20}>px;<if condition="$vo.level eq 3">float:left;margin-right:-40px;<else />clear:both;</if>">
						<input id="<{$vo.id}>" type="checkbox" name="access[]" value="<{$vo.id }>_<{$vo.level}>" pid="<{$vo.pid}>" level="<{$vo.level}>"<if condition="$vo['access']">checked="checked"</if>/>
						<if condition="$vo.level eq 1"><b>[项目]</b>
						<elseif condition="$vo.level eq 2"/><b style="color:orange">[模块]</b>
						
						</if>
						<label for="<{$vo.id}>"><{$vo.title}></label>
					</p>
				</volist>
				<div style="clear:both;"></div>
				<!-- role_id-->
			<input type="hidden" name="role_id" value="<{$users.id}>">
			<input type="submit" value="保存" class="btn btn-primary">

			</form>
	
		</div>
	</div>
</div><!--END #content -->
	
</block>
