{extend name="Index/index" /}
{block name="css"}

<style>
	
</style>
{/block}
{block name="main"}
<div id="bug_box" style="width: 600px;height:400px;"></div>
{/block}
{block name="js"}
<script type="text/javascript" src="__JS__/echarts.min.js"></script>
<script>
	 // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('bug_box'));

   	myChart.setOption({
	    title: {
	        text: 'bug统计'
	    },
	    tooltip: {},
	    legend: {
	        data:['dev环境','all环境','product环境']
	    },
	    xAxis: {
	    	type: 'category',
        	boundaryGap: false,
	        data: []
	    },
	    yAxis: {},
	    series: []
	});	
	$.ajax({
	    url:"{:url('Index/getBug')}",
	    type:'POST', //GET
	    async:true,    //或false,是否异步
	    data:{
	       
	    },	    
	    dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
	    
	    success:function(data,textStatus,jqXHR){
	        // console.log(data)
	        // console.log(textStatus)
	        // console.log(jqXHR)
	    }	    
	}).done(function (data) {
	    // 填入数据
	    myChart.setOption({
	        xAxis: {
	            data: data.categories
	        },
	        series: [
	        {
	            // 根据名字对应到相应的系列
	            name: 'dev环境',
	            type: 'line',
	            smooth: true,
	            data: data.data_dev
	        },
	        {
	            // 根据名字对应到相应的系列
	            name: 'all环境',
	            type: 'line',
	            smooth: true,
	            data: data.data_all
	        },
	        {
	            // 根据名字对应到相应的系列
	            name: 'product环境',
	            type: 'line',
	            smooth: true,
	            data: data.data_product
	        }
	        ]
	    });
	});
</script>
	
{/block}

