<extend name="Index/index"/>
<block name="main">
	<div class="container">
		<div class="col-md-12">
			<form action="<{:U('User/save')}>" method='post' class="form-horizontal">

				<div class="form-group" style="">
					<label for="" class="col-sm-2 control-label">用户名：</label>
					<div class="col-sm-4">
						<input type="text" name="username" class="form-control" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Email：</label>
					<div class="col-sm-4">
						<input  type="text" name="email" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">密  码 ：</label>
					<div class="col-sm-4">
						<input type="password" name="password" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">确认密码：</label>
					<div class="col-sm-4">
						<input type="password" name="repassword" class="form-control" placeholder="">
					</div>
				</div>
        <div class="form-group">
					<label for="" class="col-sm-2 control-label">所属用户组：</label>
					<div class="col-sm-4">
            <select class="form-control" name="role_id">
            <?php foreach($list as $vo): ?>
              <option value="<{$vo.id}>"><{$vo.name}></option>
            <?php endforeach; ?>
            </select>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">备  注 ：</label>
					<div class="col-sm-4">
						<input type="text" name="remark" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
				    <div class="col-sm-offset-2 col-sm-4">
				      <button type="submit" class="btn btn-default">添 加</button>
				    </div>
				</div>
		
			</form>
		</div>
	</div>
	</div><!--END #content -->
</block>
